.banner{
    height: 500px;
    position: relative;
    color: white;
    object-fit: contain;

   
}

.banner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%; /* adjust fade height */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
  z-index: 1;
}




.bannerElts{
    margin-left: 70px;
    padding-top: 150px;
    
}

.banner-name{
    font-size: 50px;
    color: white;
    font-weight: 700;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.banner-btn{
    background-color: rgba(51,51,51,0.5);
    color: white;
    outline: none;
    border: none;
    margin-right: 6px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;

}

.banner-btns{
    margin-bottom: 20px;
}

.banner-btn:hover{
    background-color:#e01129;
}

.banner-description{
    color: white;
    max-width: 550px;
}

@media only screen and (max-width: 600px) {

  
 

  /* BANNER */
  .banner {
    height: 300px !important;
  }

  .bannerElts {
    margin-left: 20px !important;
    padding-top: 80px !important;
  }

  .banner-name {
    font-size: 24px !important;
    line-height: 28px;
  }

  .banner-description {
    max-width: 80% !important;
    font-size: 12px !important;
  }

  .banner-btn {
    padding: 5px 12px !important;
    font-size: 12px !important;
  }

}