.netFlix_logo{
    
  position: fixed;
  left: 0;
  width: 150px;
  object-fit: contain;
  padding-left: 20px;
  top: 10px;  
}



.LoginScreen_btn{
    position: fixed;
  right: 20px;
  top: 10px;
  padding: 7px 20px;
  color: white;
  background-color: red;
 border: none;
 border-radius: 5px;
}


 
.loginscreen_background{
    height: 100vh;
    position: relative;
    
    object-fit: contain;
}
.LoginScreen{
    position: relative;
    height: 100%;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.4) 40%,
      rgba(0, 0, 0, 0.8) 100%
    ),url("https://user-images.githubusercontent.com/16425113/129554147-6ac7ba51-43e7-4c8e-ba77-e646a3ef6b12.jpg")center no-repeat;
    background-size: cover;
}

 .gradient{
    width: 100%;
    height: 100vh;
    z-index: 1;
} 






