.net-logo{
    height: 30px;
    width: 100px;
    margin-left: 10px;
    position: fixed;
    cursor: pointer;
    object-fit: contain;
    
    
}
.net-avatar{
    height: 30px;
    width: 30px;
    
    position: fixed;
    right: 20px;

}

.nav-contents{
    display: flex;
    justify-content: space-between;
    
    
}

.nav-black{
    background-color: black;
    
}

.nav{
    position: fixed;
    top: 0;
    padding: 10px;
    width: 100%;
    height: 50px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}