.SignUpScreen{
     background-color: black;
  z-index: 1;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 70px;
  text-align: center;
  position: absolute;
  top: 24%;
  left: 33%;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  max-width: 500px;
  color: white;
  border-radius: 5px;
  
}

.SignUpScreen > form{
    display: grid;
    flex-direction: column;
    padding-right: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
    
}

.SignUpScreen > form > input{
    padding-left: 12px;
    height: 50px;
    border-radius: 5px;
    outline: none;
    border: none;
    
}

.SignUpScreen >h1{
    margin-bottom: 20px;
    
}

.signInbtn{
    color: white;
    background-color: red;
    padding: 14px 1px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    width: 350px;
    cursor: pointer;
    
    
}

.grey{
    color: gray;
    
    
}

 .SignUpScreen > form > h6{
    padding-top: 30px;
}

.SignIn-lnk{
    cursor: pointer;
}

 .SignIn-lnk::after{
    text-decoration: underline;
} 
    

/* ---------- MOBILE (max-width: 600px) ---------- */
@media only screen and (max-width: 600px) {

  .SignUpScreen {
    width: 90% !important;
    max-width: 90% !important;
    left: 5% !important;
    top: 20% !important;
    padding: 20px !important;
    padding-bottom: 30px !important;
  }

  .SignUpScreen > h1 {
    font-size: 22px !important;
    margin-bottom: 15px;
  }

  .SignUpScreen > form {
    margin-left: 0 !important;
    padding-right: 0 !important;
  }

  .SignUpScreen > form > input {
    width: 100% !important;
    height: 45px !important;
    font-size: 14px;
    margin-bottom: 12px !important;
  }

  .signInbtn {
    width: 100% !important;
    padding: 12px 0 !important;
    font-size: 15px !important;
  }

  .SignUpScreen > form > h6 {
    margin-top: 20px;
    font-size: 13px;
  }

  .grey {
    font-size: 13px;
  }
}


/* ---------- TABLET (max-width: 900px) ---------- */
@media only screen and (max-width: 900px) {

  .SignUpScreen {
    left: 15% !important;
    width: 70% !important;
    max-width: 70% !important;
  }

  .SignUpScreen > form > input {
    width: 100% !important;
  }

  .signInbtn {
    width: 100% !important;
  }
}
