.w-20{
  width:20%;
}

.w-30{
  width:30%;
}

.logo-text{
  width: 100px;
}

.bi{
  margin-right: 10px;
}

.story{
  height: 120px;
}

.instaText{
  width: 130px;
  
}

.profPic{
  width: 30px;
  margin-right: 10px;
  
}

.postImage{
  width: 340px;
  margin: 10px;
}

.story-border{
  width: 68px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background:linear-gradient(45deg,#ff00ff,#ff6600,#ffcc00) ;
}

.story-dp{
  width: 60px;
}

.profile{
  width: 100px;
  
}

.following-profile{
  max-width: 250px;
}

